.container {
	display: flex;
	width: 100%;
	height: 400px;
}

.container .section-text {
  width: 50%;
  color: #000000;
  font-family: arial, sans-serif;
  font-size: 20px;
  padding-left: 100px;
}

.container .section-text .btn {
  text-align: center;
  height: 40px;
  width: 120px;
  background: #6831C2;
  color: #FFFFFF;
  border: none;   /* retira a borda padrão */
  border-radius: 6px;  /* deixa o botão arredondado */
  margin-top: 20px; /* distancia do elemento do topo */
}

.container .section-image {
  width: 50%;
  padding: 15px;
  text-align: center;
  color: #000000;
  font-family: arial, sans-serif;
}

.container .section-image .image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
